<!-- <p-menubar [model]="items">
    <input type="text" pInputText placeholder="Search">
    <button pButton label="Logout" icon="pi pi-power-off"></button>
</p-menubar> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>   
    <div class="dropdown">
      <button class="dropbtn">Masters
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/class" routerLinkActive="active">Class</a>
        <a routerLink="/subject" routerLinkActive="active">Subject</a>
        <a  routerLink="/examtype" routerLinkActive="active">Exam</a>
        <a routerLink="/designation" routerLinkActive="active">Deignation</a>
        <a routerLink="/profession" routerLinkActive="active">Profession</a>
        <a routerLink="/qualification" routerLinkActive="active">Qualification</a>
        <a routerLink="/religion" routerLinkActive="active">Religion</a>
        <a routerLink="/school" routerLinkActive="active">School</a>
        <a routerLink="/session" routerLinkActive="active">Session</a>       
      </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Student
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/examtype" routerLinkActive="active">Profile</a>
          <a routerLink="/examtype" routerLinkActive="active">Pre School</a>
          <a routerLink="/examtype" routerLinkActive="active">Siblings</a>
          <a routerLink="/examtype" routerLinkActive="active">TC</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Fees
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/examtype" routerLinkActive="active">Fees</a>
          <a routerLink="/examtype" routerLinkActive="active">Consession</a>
          <a routerLink="/examtype" routerLinkActive="active">Others</a>        
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Examination
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Class Subject</a>
          <a href="#">Grade Entry</a>
          <a href="#">Mark Entry</a>
          <a href="#">Tool</a>
          <a href="#">Trait</a>
          <a href="#">Student Remark</a>
          <a href="#">Student Attendance</a>
          <a href="#">Exam Assessment</a>
          <a href="#">Student Health</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Reports
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/examtype" routerLinkActive="active">Fees</a>
          <a routerLink="/examtype" routerLinkActive="active">Consession</a>
          <a routerLink="/examtype" routerLinkActive="active">Others</a>        
        </div>
      </div>
  </div>

