<script src="../../../assets/filesaver/FileSaver.js"></script>
<script src="../../../assets/filesaver/FileSaver.min.js"></script>
<div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="AddNew()" style="margin-left:5px;"></button>             
          <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" style="margin-left:5px;"></button> -->
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="exportExcel()" style="margin-left:5px;"></button>  
       </ng-template>

      <ng-template pTemplate="right">        
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <!-- <input type="search" pInputText size="50"  placeholder="Global Filter"  style="width:auto"> -->
      </ng-template>
    </p-toolbar>
  <p-table  [value]="subjectlist" [paginator]="true" [rows]="10" styleClass="p-datatable-sm" id="table-excel" [lazy]="false"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50,10000]"
          #tt >
           <!-- <ng-template pTemplate="caption">
            <span class="p-input-icon-left p-ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="tt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />          </span>
        </ng-template> -->
    <ng-template pTemplate="header" >
      <tr>
        <th hidden pSortableColumn="subjecT_ID">Subject Id <p-sortIcon field="subjecT_ID"></p-sortIcon></th>
        <th pSortableColumn="subjecT_SR_NO">Srl No <p-sortIcon field="subjecT_SR_NO"></p-sortIcon></th>
        <th pSortableColumn="subjecT_NAME">Subject Name <p-sortIcon field="subjecT_NAME"></p-sortIcon></th>
        <th pSortableColumn="subjecT_TYPE">type <p-sortIcon field="subjecT_TYPE"></p-sortIcon></th>
        <th pSortableColumn="subjecT_SHORT_NAME">Short Name <p-sortIcon field="subjecT_SHORT_NAME"></p-sortIcon></th>
        <th pSortableColumn="subjecT_CODE">Subject Code <p-sortIcon field="subjecT_CODE"></p-sortIcon></th>
        
       <th></th>
        
        
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-subjects let-rowData>
      <tr>
        <td hidden> {{rowData[subjects.field]}}</td>
        <td>{{subjects.subjecT_SR_NO}}</td>
        <td>{{subjects.subjecT_NAME}}</td>
        <td>{{subjects.subjecT_TYPE}}</td>
        <td>{{subjects.subjecT_SHORT_NAME}}</td>
        <td>{{subjects.subjecT_CODE}}</td>
        <td>
         
          <img src="/assets/Images/e4.jpg" width="25px" height="25px" class="edit" title="Edit" (click)="editSubject(subjects)"> &nbsp; &nbsp; &nbsp;


          <img src="/assets/Images/delete.jpg" width="25px" height="25px" class="delete" title="Delete" (click)="deleteSubject(subjects)">
          <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-success" (click)="editProduct(subjects)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button p-button-warning" (click)="deleteProduct(subjects)"></button> -->
      </td>
       
      </tr>
      
    </ng-template>
    <!--<ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>-->
  </p-table>

  <p-dialog [(visible)]="dialogdisplay" [style]="{width: '40vw', height:'500vm'}" position="right" [modal]="true">
    
    <form [formGroup]="form" (ngSubmit)="submit()"> 
    <table width="100%" cellpadding="5px">
      <tr>
        <td colspan="2" style="text-align: center;">
         <span>{{DBMessage}}</span> 
        </td>
      </tr>
      <tr>
        
        <td width="40%">
          <label>Subject Name</label>
        </td>
        <td width="60%">
          <input 
          formControlName="name"
          id="name" 
          type="text" 
          class="form-control"
          pInputText
          [ngClass]="{'red':f.name.touched && f.name.invalid,'green':f.name.touched && f.name.valid}"
          >
          <div *ngIf="f.name.touched && f.name.invalid" class="alert">
              <div *ngIf="f.name.errors?.required">Name is required.</div>
              <div *ngIf="f.name.errors?.minlength">Name should be 3 character.</div>
          </div>
      
        </td>
      </tr>
      <tr>
        <td>
          <label>Subject Type</label>
        </td>
        <td>
          <input type="checkbox" name="subjectype" /><label>Academic</label>
        </td>
      </tr>
      <tr>
        <td>
          <label>Subject Short Name</label>
        </td>
        <td>
          <input type="text" name="subjectshortname" pInputText />
        </td>
      </tr>
      <tr>
        <td>
          <label>Subject Code</label>
        </td>
        <td>
          <input type="text" name="subjectcode" pInputText />
        </td>
      </tr>
      <tr>
        
        <td style="text-align: right;" colspan="3">
         
          <button type="button" pButton pRipple label="Save" class="p-button-success" (click)="submit()"  style="margin-left:5px;"></button>  
           
          <button pButton pRipple label="Cancle"  class="p-button-help"  style="margin-left:5px;"></button> 
        
       
      </td>
      </tr>
    </table>
    
  </form> 
    
 
</p-dialog>
</div>
<style>

.red{

border-left:5px solid red !important;
}
.green{

border-left:5px solid green !important;
}
.alert{

  color: red;
}

.edit{
  cursor: pointer;

}
.delete{
  cursor: pointer;
}
.p-inputtext{
  padding: 0 !important;
}
.p-component {
  font-family: 'Times New Roman', Times, serif !important;
}
</style>